body {
    font-family: Arial;
    background: #f0f4f8;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #bbb;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-left: 5px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li {
    margin: 10px 0;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

li.done {
    text-decoration: line-through;
    color: gray;
}
